@keyframes slideInFromRight {
    0% {
      transform: translateX(100%);
    }
    100% {
      transform: translateX(0);
    }
  }
  
  .slide-right {
    animation: .3s ease-out 0s 1 slideInFromRight;
    margin: 0 auto;
  
  }
